 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.url}}/assets/js/vendor/jquery.min.js"></script>
    <script src="{{site.url}}/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.url}}/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c0f4cdc73c6acf209e5537489c71b5ea";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      (function ($) {
           $.getUrlParam = function (name) {
           var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");//构造一个含有目标参数的正则表达式对象
           var r = window.location.search.substr(1).match(reg);//匹配目标参数
           if (r != null) return unescape(r[2]); return null;//返回参数值
       }
       })(jQuery);
      $(function(){
        var cat = getQueryString("cat");
        if(null!=cat){
            var breadcrumb = '<li class="active">'+cat+'</li>';
            $("#breadcrumb ol").append(breadcrumb);
        }
        $("a.category").click(function(e){
            e.preventDefault();
            var url = $(this).attr("href");
            window.location=encodeURI(url);
        });
        $("img").addClass("img-responsive");
      });
      function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
        var r = decodeURI(window.location.search).substr(1).match(reg); 
        if (r != null) return unescape(r[2]); return null; 
      }
      </script>
