                
                <div class="panel panel-default">
                  <div class="panel-heading">专辑推荐</div>
                  <div id="category" class="panel-body cat">
                    <!--<ul>
                      {% for category in site.categories %}
                      <li><a class="category" href="/index.html?cat={{category|first}}">{{category|first}}</a>
                      <span class="badge pull-right">{{category|last|size}}</span></li>
                      {% endfor %}
                    </ul>-->
                  </div>
                </div>
                