
                 <div class="panel panel-default">
                  <div class="panel-heading">主题列表</div>
                  <div id="category" class="panel-body">
                    <ul>
                      {% for category in site.categories %}
                      <li><a class="category" href="{{site.url}}?cat={{category | first}}">{{category | first}}</a><span class="badge pull-right">{{category | last | size}}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-body">
                      <a href="#">
                        <img src="{{site.url}}/assets/img/profile.png" class="img-responsive" alt="我的头像">
                      </a>

                      <h4>{{site.author}}</h4>
                      <p>{{site.authorDescp}}</p>
                      <a href="mailto:{{site.email}}"><span class="glyphicon glyphicon-envelope">&nbsp</span>852442493</a>
                  </div>
                </div>