                
                <div class="panel panel-default">
                  <div class="panel-heading">专辑推荐</div>
                  <div id="category" class="panel-body">
                    <ul>
                      {% for category in site.data.category %}
                      <li><a class="category" href="{{category.url}}">{{category.title}}</a>
                      <span class="badge pull-right">{{category.count}}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                