html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 30px;
  color: #555;
}

body > nav > div > div.navbar-header > a{
		padding-top: 8px;
		padding-bottom: 0px;
}
#breadcrumb.container-fluid{
	padding:0px 0px;
}


body > nav > div > div.navbar-header > a > span{
		font-size: 40px;
		padding-left:0px;
		font-weight: 300;
		padding-top: -8px;
}

.navbar-inverse {
    background-color: #0AA770;
    border-color: #0AA770;

}
.navbar-inverse .navbar-nav>li>a {
    font-size: 18px;
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0AA770;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #0AA770;
}
.btn-success {
    color: #fff;
    background-color: #118860;
    border-color: #2C9B74;
}
.form-control {
	min-width: 300px;
}
a{
	color: #333333;
}
a:hover{
	color: #0AA770;
}
a：visited{
	color: #0AA770;
}
.glyphicon-link{
	color: #0AA770;
}
span.badge {
	background-color: #D9534F;
}
#category > ul{
	margin: 0px;
	padding:0px;
}
#category > ul > li {
	list-style: none;
}

@media (min-width: 768px){
	body {
	  padding-top: 80px;
	  margin-bottom: 30px;
	}
	.nav{
		min-height: 80px;
	}
	.container-fluid{
		padding: 0px 40px;
	}
	#navbar > ul > li > a{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	body > nav > div > div.navbar-header > a{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	body > nav > div > div.navbar-header > a > span{
		font-size: 40px;
		padding-left:15px;
		padding-top: 8px;
		font-weight: 300;
	}
	body > nav > div > div.navbar-header > a > p{
		padding-top: -50px;
	}
	.breadcrumb{
		padding-left: 40px;
		padding-right: 40px;
	}
	#navbar > form{
		padding-top:15px;
	}
}

.mypage {
  position: absolute;
  bottom: 0;
  height: 30px;
  padding-top: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  padding-top: 8px;
  font-size: 12px;
}
body > footer > div > p > a {
	color: #000000;
}

h1, .h1,
h2, .h2,
h3, .h3,

h5, .h5,
h6, .h6 {
  margin-top: 0px;
  font-weight: normal;
  color: #333;
}

.blog-post {
  margin-bottom: 15px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 20px;
  padding-top: -15px;
}
.blog-post-meta {
  margin-bottom: 10px;
  color: #999;
}


