<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{site.url}}/{{site.favicon}}">

    <title>{{site.name}}-{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/myshare.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{site.url}}//assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	{% include header.html %}    
    <div id="breadcrumb" class="container-fluid" id="top">
        <ol class="breadcrumb">
              <li><a href="/index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp主页</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-sm-xs-12 doc">
              <h2>{{page.title}} 
              {%if page.originAddress!=null %}
              <a alt="原文地址" href="{{page.originAddress}}" target="_blank" class="origin-link pull-right"><small class="glyphicon glyphicon-link"></small></a>
              {% endif %}
              </h2>
              <div class="row">
                <br>
        <!--         <div class="col-md-1 col-sm-1 col-sm-xs-1 ">
                  <img src="/assets/img/head.jpg" class="img-circle auth-info"/>
                </div> -->
                <div class="col-md-11 col-sm-11 col-sm-xs-11">
                  <a href="/contact.html">{{page.author}}</a>&nbsp&nbsp&nbsp&nbsp发表于： {{page.dateTime}}
                </div>
              </div>
              <hr>
              <blockquote>{{page.excerpt}}</blockquote>
              {{content}}
              <hr>
              <p  class="text-center"><a href="#top">文章结束~点我回到顶部</a></p>
            <div id="SOHUCS" ></div> 
            </div>
            <div class="col-md-3  col-sm-4 col-sm-xs-12" id="right-side">
                {% include right.html %}
            </div>
        </div>
    </div>

   	{% include footer.html %}
    {% include baidu-js.html %}
    {% include lib-js.html %}
   	{% include js.html %}
    <script type="text/javascript">
            var cat = '{{page.category}}';
            if(cat!=''){
                var breadcrumb = '<li class="active category"><a href="/index.html?cat='+cat+'">'+cat+'</a></li>';
                $("#breadcrumb ol").append(breadcrumb);
            }
            var catlist = [];
 
            {% for post in site.posts %}
              {%if page.category==post.category %}
              catlist.push({
                    "title":"{{post.title}}"
                    ,"dateTime":"{{post.dateTime}}"
                    ,"author":"{{post.author}}"
                    ,"category":"{{post.category}}"
                    ,"excerpt":'{{post.excerpt}}'
                    ,"url":'{{post.url}}'
              });
              {% endif %}
            {% endfor %}
            if(catlist.length>0){
              catlist = catlist.sort(function(item1,item2){
                return item1.url.substring(item1.url.lastIndexOf("/")+1,item1.url.length)-item2.url.substring(item2.url.lastIndexOf("/")+1,item2.url.length);
              });
              var relateHtml = "<div class='panel panel-default'>"
                      +"<div class='panel-heading'>相关文章</div>"
                      +"<div id='category' class='panel-body'>"
                      +"<ul>";

              for(i in catlist){
                  relateHtml+="<li><a class='category' href='"+catlist[i].url+".html'>"+catlist[i].title+"</a></li>";
              }

              relateHtml=relateHtml+"</ul></div></div>";
              $("#right-side").prepend(relateHtml);
            }
           
    </script>
    <!--PC和WAP自适应版-->

<script type="text/javascript"> 
(function(){ 
var appid = 'cyuMxf7e0'; 
var conf = 'prod_7393b4533fccff254d715ba56238451c'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
  </body>
</html>
